MERCURE_PUBLISHER_JWT_KEY={{ mercure_publisher_key | default('!ChangeThisMercureHubJWTSecretKey!') }}
MERCURE_SUBSCRIBER_JWT_KEY={{ mercure_subscriber_key | default('!ChangeThisMercureHubJWTSecretKey!') }}
MERCURE_EXTRA_DIRECTIVES="cors_origins=*"
